{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load thumbnail %}

{% block content %}
{#    <div class="home">#}
    {% if user.is_authenticated %}
        <div class="profile-container">
            {% thumbnail user.profile_picture "100x100" crop="center" as im %}
                <img src="{{ im.url }}" class="avatar">
            {% endthumbnail %}
            <h2>{{ user.username }}</h2>
            <p class="text-muted">{{ user.first_name }} {{ user.last_name }}</p>
            <br></br>
        </div>
    {% else %}
        <p>You are not logged in</p>
    {% endif %}


    {% for photo in wall %}
        <div class="profile-container">
        <div class="shadow">
        <div class="card" style="width: 700px;">
            <div class="card-header">
                <span class="h2 pull-left">
                    {% thumbnail photo.user.profile_picture "50x50" crop="center" as avatar %}
                        <img class="avatar-small" src={{ avatar.url }} alt="Card/">
                    {% endthumbnail %}
                </span>
                <span class="h5">{{ photo.user.username }}</span>
            </div>
            {% thumbnail photo.image_url "700" crop="center" as im %}
                <img class="card-img-top" src={{ im.url }} alt="Card/">
            {% endthumbnail %}
            <div class="card-body">
                <h5 class="card-title">{{ photo.description }}</h5>
                <p class="card-text">{{ photo.keywords }}</p>
                <span class="btn btn-primary btn-danger text-white" onclick="likeButton({{ photo.id }}, {% if photo.id in likesTo %}1{% else %}0{% endif %}, {{ photo.likes.count }})"><span class="glyphicon glyphicon-thumbs-up"></span>
                    <span id="like_status_text{{ photo.id }}"> {% if photo.id in likesTo %} Unlike {% else %} Like {% endif %} </span>
                    <span id="count{{ photo.id }}" class="badge badge-light">{{ photo.likes.count }}</span></span>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
                <script type="text/javascript">
                    function likeButton(id, state, initial_count) {
                        $.ajax(
                        {
                            type:"GET",
                            url: "/like/" + id,
                            data:{},
                            success: function()
                            {
                                if (state === 0) {
                                    initial_count++;
                                    document.getElementById("like_status_text"+String(id)).innerText = "Unlike";
                                } else {
                                    initial_count--;
                                    document.getElementById("like_status_text"+String(id)).innerText = "Like";
                                }
                                console.log(initial_count);
                                document.getElementById("count"+String(id)).innerHTML = initial_count;
                                console.log("/like/" + id);
                            }
                         })
                    }
            </script>
            <p>
            {% for comment in photo.comments.all %}
                    <h6>
                        {{ comment.posted_by }}
                    </h6>
                    <p>
                        {{ comment.text }}
                    </p>
                <hr class="style13">
                <br>
                <p></p>
            {% endfor %}

            </p>
            {% load crispy_forms_tags %}
            <form method="post" novalidate action="comment/{{ photo.id }}/">
              {% csrf_token %}
              <div class="">
                  <input type="text" name="text" maxlength="200" class="textinput textInput form-control" required id="id_text">
                  <small id="hint_id_text" class="form-text text-muted">Add a comment</small>
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>
            </div>
        </div>
        </div>
        </div>

        <br></br>

    {% endfor %}

{#    </div>#}
{% endblock %}