{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load thumbnail %}

{% block content %}
{#    <div class="home">#}
    {% if user.is_authenticated %}
        <div class="profile-container">
            {% thumbnail user.profile_picture "100x100" crop="center" as im %}
                <img src="{{ im.url }}" class="avatar">
            {% endthumbnail %}
            <h2>{{ user.username }}</h2>
            <p class="text-muted">{{ user.first_name }} {{ user.last_name }}</p>
            <br></br>
        </div>
    {% else %}
        <p>You are not logged in</p>
    {% endif %}


    {% for photo in wall %}
        <div class="profile-container">
        <div class="shadow">
        <div class="card" style="width: 700px;">
            <div class="card-header">
                <span class="h2 pull-left">
                    {% thumbnail photo.user.profile_picture "50x50" crop="center" as avatar %}
                        <img class="avatar-small" src={{ avatar.url }} alt="Card/">
                    {% endthumbnail %}
                </span>
                <span class="h5">{{ photo.user.username }}</span>
            </div>
            {% thumbnail photo.image_url "700" crop="center" as im %}
                <img class="card-img-top" src={{ im.url }} alt="Card/">
            {% endthumbnail %}
            <div class="card-body">
                <h5 class="card-title">{{ photo.description }}</h5>
                <p class="card-text">{{ photo.keywords }}</p>
                <a href="/" class="btn btn-primary btn-danger text-white" onclick="likeButton();"><span class="glyphicon glyphicon-thumbs-up"></span><font> Like <span class="badge badge-light">{{ photo.likes.count }}</span></a>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
                <script type="text/javascript">
                    function likeButton() {
                        $.ajax(
                        {
                            type:"GET",
                            url: "/like/{{ photo.id }}",
                            data:{},
                            success: function( data )
                            {
                                console.log("liked");
                            }
                         })
                    }
            </script>
            </div>
        </div>
        </div>
        </div>

        <br></br>

    {% endfor %}

{#    </div>#}
{% endblock %}